* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
  }
body {
    font-size: 14px;
    background-image: url("basketball.png");

    /* Full height */
    height: 100%; 
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.new-game{
    display: flex;
  justify-content: center;
}


.btn {
    
    /* margin: 0 auto; */
    /* margin-left: auto; */
    background: #305f7d;
    background-image: -webkit-linear-gradient(top, #305f7d, #0a161f);
    background-image: -moz-linear-gradient(top, #305f7d, #0a161f);
    background-image: -ms-linear-gradient(top, #305f7d, #0a161f);
    background-image: -o-linear-gradient(top, #305f7d, #0a161f);
    background-image: linear-gradient(to bottom, #305f7d, #0a161f);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #43d170;
    text-decoration: none;
  }
.v108_288 {
    margin: 50px auto;
    width: 575px;
    height: 385px;
    border:solid rgba(153, 170, 215, 1);
    border-radius: 10px;
    background: rgba(27, 36, 74, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v126_20 {
    width: 155px;
    height: 45px;
    background: url("../images/v126_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 82px;
    overflow: hidden;
}

.v126_21 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 110px;
    overflow: hidden;
}

.v126_22 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_23 {
    background-color: #0a161f;
    width: 35px;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_24 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 54px;
    overflow: hidden;
}

.v126_25 {
    background-color: #0a161f;
    width: 35px;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_26 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_27 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v126_28 {
    background-color: #0a161f;
    width: 35px;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_29 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_30 {
    width: 155px;
    height: 45px;
    background: url("../images/v126_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 337px;
    overflow: hidden;
}

.v126_31 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 110px;
    overflow: hidden;
}

.v126_32 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_33 {
    width: 35px;
    background-color: #0a161f;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_34 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 54px;
    overflow: hidden;
}

.v126_35 {
    width: 35px;
    background-color: #0a161f;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_36 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_36.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_37 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v126_38 {
    width: 35px;
    background-color: #0a161f;
    color: rgba(153, 170, 215, 1);
    position: absolute;
    top: 9px;
    left: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v126_39 {
    width: 45px;
    height: 45px;
    background: url("../images/v126_39.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153, 170, 215, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_40 {
    width: 155px;
    height: 120px;
    background: url("../images/v126_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 82px;
    overflow: hidden;
}

.v126_41 {
    width: 155px;
    height: 120px;
    background: rgba(8, 0, 1, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_42 {
    width: 155px;
    height: 120px;
    background: url("../images/v126_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 337px;
    overflow: hidden;
}

.v126_43 {
    width: 155px;
    height: 120px;
    background: rgba(8, 0, 1, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.v126_44 {
    width: 149px;
    color: rgba(238, 238, 238, 1);
    position: absolute;
    top: 68px;
    left: 85px;
    font-family: Verdana;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v126_45 {
    width: 149px;
    color: rgba(238, 238, 238, 1);
    position: absolute;
    top: 68px;
    left: 340px;
    font-family: Verdana;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v126_46 {
    width: 117px;
    color: rgba(249, 79, 109, 1);
    position: absolute;
    top: 140px;
    left: 95px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 90px;
    opacity: 1;
    text-align: center;
}

.v126_47 {
    width: 117px;
    color: #f94f6d;
    position: absolute;
    top: 140px;
    left: 350px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 90px;
    opacity: 1;
    text-align: center;
}